<%- layout('/layouts/boilerplate') %>

    <div class="container">
        <div class='row'>
            <div class='col-12 col-md-6'>
                <div style='height:100%;' class='about-img'>
                </div>
            </div>
            <div class='col-12 col-md-6 my-2'>
                <h1>About Us</h1>
                <p style='text-align:justify; line-height:1.6rem'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, at! Amet eum sit ab beatae eveniet
                    iure veritatis inventore id ratione, tempora quod nulla hic minima odit, dolores repudiandae
                    sapiente!
                    Consequuntur, maxime quis! Dignissimos facere eos quos maiores mollitia commodi velit distinctio a
                    suscipit laudantium porro similique molestias hic, dolor, est at tempora, non nemo sequi? Magni
                    minus dolorum quam!
                    Suscipit ullam, cupiditate laudantium ducimus nihil aperiam maiores, ipsum laboriosam iure dolorem,
                    explicabo ipsam eveniet ex! Aut officiis facere ex illum pariatur eum debitis? Labore dolorem eum
                    numquam dicta natus!

                </p>
                <strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor illo similique expedita, suscipit
                    enim recusandae non a necessitatibus fugit

                </strong>


            </div>
        </div>

    </div>