<%- layout('/layouts/boilerplate') %>

    <div class="row">
        <div class="col-12 col-md-6 order-2 order-md-1 my-2">
            <h2 class="fw-bold mb-3">
                If you’re interested in working with us, or collaborating on a project, we’d love to hear from you.
            </h2>
            <div>
                <h4 class='fw-light mb-3'>Get in Touch</h4>
                <p class='d-flex align-items-center'><span style='color: #c86255; font-size: 20px;'><i
                            class="bi bi-envelope"></i></span> <span class='px-2 text-muted'>Auth@gmail.com</span>
                </p>
                <p class='d-flex align-items-center '><span style='color: #c86255; font-size: 20px;'><i
                            class="bi bi-telephone"></i></span> <span class='px-2 text-muted'>0933-222-1001</span>
                </p>

            </div>
            <div>
                <h4 class='fw-light mb-3'>Address</h4>
                <p class='text-muted'>2865 Monroe Avenue<br />
                    Fort Myers<br />
                    Province full Florida<br />
                    33901</p>
            </div>
            <div>
                <a href='#'><i class="bi bi-linkedin"></i> Linkedin</a>
                <a href='#'><i class="bi bi-instagram"></i> Instagram</a>
                <a href='#'><i class="bi bi-facebook"></i> Facebook</a>
            </div>

        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class='contact-img' style='height: 100% ; width: 100%; background: url(https://images.unsplash.com/photo-1639122777704-44ea390e16bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
                background-position: center; background-repeat: no-repeat; background-size: cover;
                '>
            </div>
        </div>
    </div>