<% layout('./layouts/boilerplate') %>

    <div class="container">
        <div class="row align-center justify-content-center">
            <div class="col-md-6 col-xs-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>
                        Your Account has been successfully created. Check your email to activate your account.
                    </p>

                </div>

            </div>
        </div>

    </div>