<% layout('./layouts/boilerplate') %>

    <div class="row d-flex justify-content-center aligen-items-center">
        <div class="col-md-5 ">
            <div class="card shadow mb-5" style='border-radius: 10px; overflow: hidden'>
                <div class="d-flex justify-content-center align-items-center" style='height: 150px;
                 background: linear-gradient(to top , #e04d398c , #e44e3bc7) ;
                 background-size: cover;
                 '>
                    <h2 class='text-white'>Forget Password</h2>

                </div>
                <div class="p-3">
                    <div class='text-center'>
                        <p>Forgot your password? Enter your email address.</p>

                    </div>
                    <form action="/forget_password" method="POST" class="validation-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" autofocus name="email" id="email" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                            <div class="invalid-feedback">
                                Please type a valid Username.
                            </div>


                        </div>
                        <div>
                            <button class="btn btn-primary mt-3 px-5">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>